
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    background-color: #1c1c1c;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    background-image: url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  header {
    background-color: #000;
    padding: 20px;
    box-shadow: 0 0 20px red;
  }

.sticky-header {
  position: fixed;
  top: -20px; /* Alotuskohta, jossa header on piilotettu näkyvistä */
  left: 0;
  right: 0;
  z-index: 9999;
}

  a:hover {
    color: rgb(147, 0, 0);
  }

  nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .hero {
    background-image: url("https://example.com/hero-image.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .hero h1 {
    font-size: 48px;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 0 #000;
  }
  
  .hero p {
    font-size: 18px;
    margin: 20px 0;
    color: #fff;
  }
  
  .btn {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
  }
  .btn1 {
  display: inline-block;
  background-color: #fa1414;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}
.btn1:hover {
  background-color: #ffffff;
}
  .features {
    padding: 50px 0;
    text-align: center;
  }
  
  .features h2 {
    font-size: 36px;
    margin-bottom: 50px;
  }
  
  .feature {
    display: inline-block;
    margin: 0 20px;
  }
  
  .feature img {
    width: 100%;
    border-radius: 5px;
  }
  
  .feature h3 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .feature p {
    font-size: 18px;
    margin: 0;
  }
  
  .footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000 !important;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 20px;
    margin-top: auto;
    box-shadow: 0px 3px 8px rgb(255, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  .footer ul li {
    display: inline-block;
    margin-left: 20px;
    color:white;
  }
  .footer a {
    color: white;
  }
  .footer a:hover{
    color: rgb(147, 0, 0);
  }
  
  header img {
    display: block;
    margin: 0 auto;
  }
  .iframe-section {
    position: relative;
    z-index: 1;
  }
  
  .iframe-wrapper {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .iframe-wrapper p {
    margin: 0;
    text-align: center;
  }
  .iframe{
    margin: 0;
    text-align: center;
  }

  #news-container {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .news-item {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b8b8b8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: left;
    position: relative;
    
    }
    
    .news-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 5px;
    height: 100%;
    background-color: #333;
    border-radius: 5px;
    }
    
    .news-item h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    }
    
    .news-item p {
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
    }
    
    .news-item a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }

    .facebook-kontti {
      max-width: 500px;
      margin: 0 auto;
      display: block;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .facebook-kontti h3 {
      font-size: 36px;
      color: #ffffff;
      margin-bottom: 30px;
      text-align: center;
    }
    
  #gigs-container {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .gig-item {
    width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
  }

  .gig-item h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #333;
  }

  .gig-item p {
    font-size: 16px;
    color: #666;
  }


.gig-group {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}


.gig-header {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.date, .time, .location, .city {
  padding: 5px;
  border-radius: 3px;
}

.date-header, .time-header, .location-header, .city-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
.kuvat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px; 
  z-index: 1;
  position: relative;
}

.kuvat a {
  display: block;
  margin: 10px;
}

.kuvat img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  filter: grayscale(100%);
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.kuvat img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}
.tuotanto {
  background-color: #1c1c1c; 
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.tuotanto h3 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 30px;
}

.tuotanto p {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.6;
}

.tuotanto ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.tuotanto li {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tuotanto .listaotsikko {
  font-size: 24px;
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
  grid-column: 1 / -1;
}

.tuotanto li:nth-child(odd) {
  background-color:  #1c1c1c;
}

.tuotanto li h3 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.tuotanto li p {
  font-size: 16px;
  color: #ffffff;
}

.tuotanto .btn {
  display: inline-block;
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.tuotanto .btn:hover {
  background-color: #666;
}

.linkki {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #ff0000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.linkki:hover {
  background-color: #ffffff;
}

.bandi-kuva {
  display: block;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 50px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.tietoa {
  background-color: rgba(28, 28, 28, 0.7); 
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: center;
}

.keikkakalenterit {
  background-color: rgba(28, 28, 28, 0.7); 
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: center;
}

.tietoa h1 {
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase; 
}

.tietoa p {
  font-size: 22px;
  color: #ffffff;
  line-height: 1.7em;
  margin-bottom: 20px;
  text-align: justify; 
  padding: 0 50px; 
}

header img {
  transition: filter 1.5s ease-out, transform 1s ease-out; /* animaation kesto ja tyyli */
}

header img:hover {
  filter: brightness(250%); /* kirkastaa kuvaa 150% */
  transform: scale(1.05); /* suurentaa kuvaa 5% */
  background-color: #fa1414;
}

header img:hover span {
  animation: pulse 1s ease-out infinite; /* animoi tekstin */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

